@font-face
  font-family 'akhand_soft'
  src url('~/assets/fonts/indian_type_foundry_-_akhandsoft-light-webfont.woff2') format('woff2'), url('~/assets/fonts/indian_type_foundry_-_akhandsoft-light-webfont.woff') format('woff')
  font-weight 300
  font-style normal

@font-face
  font-family 'akhand_soft'
  src url('~/assets/fonts/indian_type_foundry_-_akhandsoft-regular-webfont.woff2') format('woff2'), url('~/assets/fonts/indian_type_foundry_-_akhandsoft-regular-webfont.woff') format('woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'akhand_soft'
  src url('~/assets/fonts/indian_type_foundry_-_akhandsoft-semibold-webfont.woff2') format('woff2'), url('~/assets/fonts/indian_type_foundry_-_akhandsoft-semibold-webfont.woff') format('woff')
  font-weight 500
  font-style normal